canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #E9FCD9;
  margin: 0;
  font-family: teko;
  letter-spacing: 1.5px;
  font-size: 20px;
  background-image: url("../images/red\ background.jpg");
}

.header {
  background-color: #2E2727;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 8px #00000057;
  margin-bottom: 10px;
}
.header__left-container {
  display: flex;
  align-items: center;
}
.header__right-container {
  display: flex;
  align-items: center;
}
.burger__containter {
  display: flex;
  flex-direction: column;
  width: 39px;
  padding: 3px;
  height: 20px;
  justify-content: space-between;
  margin: 5px;
}
.burger__line {
  width: 100%;
  background-color: white;
  height: 3px;
}
.logo {
  width: 110px;
  height: 27px;
  background-color: red;
}
.button {
  background-color: #66F3AF;
  border-radius: 7px;
  padding: 0px 8px;
  margin: 4px;
  display: flex;
  justify-content: center;
  font-size: 21px;
  align-items: center;
  box-shadow: 5px 5px 8px #00000057;
}
.user-name {
  color: yellow;
}
.user-balance {
  color: white;
  padding: 0 13px;
}